.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.white-icon {
  color: white;
  font-size: x-large;
  margin-bottom: 0%;
  display: flex;
  align-items: center;
}